:root {
    --red: #bd0000;
    --white: #ffffff;
    --black: #000000;
  }

  * {
    color: var(--fontColor);
    font-family: helvetica;
  }
  body {
      background: var(--bg);
  }

ul {
    font-family: helvetica;
}
li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
    font-size: medium;
  }
  
  #msg {
    font-family: monospace;
    font-size: large;
  }
  .btn {
    position: absolute;
    top: 20px;
    left: 800px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  .btn:focus { outline-style: none; }


  /* Themes*/

  .light-theme {
    --bg: var(--white);
    --fontColor: var(--red);
    --btnBg: var(--white);
    --btnFontColor: var(--red);
  }
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--red);
    --btnBg: var(--black);
    --btnFontColor: var(--red);
  }